<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" strict="true">
	<Appenders>
		<Appender type="Console" name="STDOUT">
		<Layout type="PatternLayout"
			pattern="%d{HH:MM:ss:SS} [%t]%-5level %logger{36} -%msg%n"/>
		</Appender>
		<Appender type="File" name="file" fileName=".\log\app.log">
		<Layout type="PatternLayout"
			pattern="%d{HH:MM:ss:SS} [%t]%-5level %logger{36} -%msg%n"/>
		</Appender>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="file"/>
			<Appender-ref ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>


	